/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

/include/ "am33xx.dtsi"

/ {
	model = "TI AM335x EVM";
	compatible = "ti,am335x-evm", "ti,am33xx";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x10000000>; /* 256 MB */
	};
};

&i2c1 {
	clock-frequency = <400000>;

	tps: tps@2D {
		reg = <0x2D>;
	};
};

/include/ "tps65910.dtsi"

&vdd1_reg {
	/* VDD_MPU voltage limits 0.95V - 1.26V with +/-4% tolerance */
	regulator-name = "vdd_mpu";
	regulator-min-microvolt = <912500>;
	regulator-max-microvolt = <1312500>;
	regulator-boot-on;
	regulator-always-on;
};

&vdd2_reg {
	/* VDD_CORE voltage limits 0.95V - 1.1V with +/-4% tolerance */
	regulator-name = "vdd_core";
	regulator-min-microvolt = <912500>;
	regulator-max-microvolt = <1150000>;
	regulator-boot-on;
	regulator-always-on;
};
